{% extends 'index.html' %}
{% block content %}

<div class="col-md-5 col-md-offset-1">
    <section id="first-tab-group" class="tabgroup">
        <div id="tab1">
            <div class="submit-form">
                <h4><em>Enqury</em>:</h4>
                {% for message in messages  %}

                <h3 style="color: green;">{{message}}</h3>
                  
                {% endfor %}
                <form id="form-submit" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset>
                                <label for="subject">Enquery Subject:</label>
                                <input type="text" name='subject' placeholder="Subject" style="background-color: rgb(206, 204, 204); border:none; padding:10px; width:200px; border-radius: 5px">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <label for="subject">Enquery Airport:</label><br><br>
                                <select name="airport" id="" style="background-color: rgb(206, 204, 204); border:none; padding:10px; width:200px; border-radius: 5px">
                                    <option value="Cochin International Airport">Cochin International Airport</option>
                                    <option value="Dubai International Airport">Dubai International Airport</option>
                                    <option value="Indira Gandhi International Airport New Delhi">Indira Gandhi International Airport New Delhi</option>

                                </select>
                            </fieldset>
                        </div>
                        
                        <div class="col-md-6">
                            <fieldset>
                                <label for="enquery">ASK:</label>
                                <input type="text" name="enquery" placeholder="Please Ask" required style="background-color: rgb(206, 204, 204); border:none; padding:2px; width:200px; height:200px; border-radius: 5px">
                             </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <br><br><br><br><br><br><br><br><br><br><br><br>
                                <button type="submit" id="form-submit" class="btn">Enqure</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
</div>
</section>
  
{% endblock %}