{% extends "admin.html" %}
{% block content %}
<div class="col-md-5 col-md-offset-1">
    <section id="first-tab-group" class="tabgroup">
        <div id="tab1">
            <div class="submit-form">
                <h4>Add Airport</em>:</h4>
                {% for message in messages  %}
                  <h3 style="color: Green;">{{message}}</h3>
                {% endfor %}
                <form method="POST">
                    {% csrf_token %}
                        <div class="row">
                            {% for feilds in form  %}
                            <div class="col-md-6">
                                <fieldset>
                                
                                    {{feilds.label}}:
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    {{feilds}}
                                </fieldset>
                            </div>
                                {% endfor %}
                                {{form.error}}
                        <div class="col-md-6">
                            <fieldset>
                                
                                <button type="submit" id="form-submit" class="btn">Join</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>
</div>
</div>
</section>
  
{% endblock %}