{% extends "index.html" %}
{% block content %}
<div class="col-md-5 col-md-offset-1">
    <section id="first-tab-group" class="tabgroup">
        <div id="tab1">
<!-- <div class="container mt-5 text-light"> -->
    <br><br><br><br><br>
    <table class="table text-info">
        <tr>
            <th>flight</th>
            <th>Date</th>
            <th>Time</th>
            <th>Cancel Booking</th>
        </tr>
        {% for book in Booking  %}
          
        <tr>
            <td>{{book.filght}}</td>
            <td>{{book.filght.departure_date}}</td>
            <td>{{book.filght.departure_time}}</td>
            <td><a href="{%url 'CancelBooking' book.id %}" class="btn btn-danger">Cancel Booking</a></td>
        </tr>
        {% endfor %}

    </table>
</div>
</section></div>
{% endblock %}